.product_list {
  height: auto;
  padding: 3em 6.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

.list_texts {
  width: 70%;
}

.list_title {
  font-size: 3.13rem;
  font-weight: 600;
}

.list_subhead {
  font-size: 1.1rem;
}

.list_desc {
  font-size: 1.25rem;
  margin: 1.25em 0em;
}

.all_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.25em;
  box-sizing: border-box;
  padding: 0 1.25em;
}

@media screen and (max-width: 2560px) {
  .all_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .all_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .all_list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .product_list {
    padding: 0.625em;
  }

  .list_texts {
    width: 100%;
  }

  .list_desc {
    display: none;
  }

  .list_title {
    font-size: 2.5rem;
  }

  .contact_content {
    margin: 1.25em 0em;
    width: 100%;
  }

  .contact_desc {
    display: none;
  }

  form {
    margin-top: 0em;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 35%;
    height: 2.5rem;
    margin: 0.625rem;
    margin-left: 0;
  }

  button {
    margin-top: 0.625em;
  }
}
