.product_list {
    height: auto;
    padding: 3em 6.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

.list_texts {
    width: 70%;
}

.list_title {
    font-size: 3.13rem;
    font-weight: 600;
}

.list_subhead {
    font-size: 1.1rem;
}

.list_desc {
    font-size: 1.25rem;
    margin: 1.25em 0em;
}

.all_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .product_list {
        padding: .625em;
    }

    .list_texts {
    width: 100%;
    }

    .list_desc {
    display: none;
    }

    .list_title {
    font-size: 2.5rem;
    }

    .contact_content {
        margin: 1.25em 0em;
        width: 100%;
    }

    .contact_desc {
    display: none;
    }

    form {
    margin-top: 0em;
    display: flex;
    flex-wrap: wrap;
    }

    input {
        width: 35%;
        height: 2.5rem;
        margin: .625rem;
        margin-left: 0;
    }

    button {
        margin-top: .625em;
    }
}