.contact {
    height: auto;
    position: relative;
    max-width: 1440px;
    margin: auto;
    margin-top: 3em;
    box-sizing: border-box;
}

.contact_big {
    width: 1.25rem;
    height: 100%;
    background-color: #59b256;
    position: absolute;
}

.contact_wrapper {
    padding: 3.13rem;
    display: flex;
}

.contact_left {
    flex: 1;
}

.contact_right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contact_title {
    font-size: 3.13rem;
    width: 75%;
}

.contact_content {
    display: flex;
    align-items: center;
    margin: 3.13em 0em;
    font-size: 1.25rem;
    font-weight: 300;
    width: 50%;
}

.contact_img {
    width: 1.88rem;
    height: 1.88rem;
    margin-right: 1.25em;
}

.contact_desc {
    font-size: 1.25rem;
    font-weight: 200;
}

form {
    margin-top: 1.25em;
}

input {
    width: 100%;
    height: 3.13rem;
    border: none;
    border-bottom: 1px solid black;
    margin: .625em 0em;
    font-size: 0.9rem;
    padding-left: .625em;
}

textarea {
    width: 100%;
    margin: .625em 0em;
    font-size: 0.9rem;
    padding-left: .625em;
}

button {
    border: none;
    padding: 0.94em;
    background-color: #59b256;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 3em;
}

@media screen and (max-width: 480px) {
    .contact_wrapper{
        flex-direction: column;
        padding: 0em 3.13em;
    }

    .contact_title {
        font-size: 1.8rem;
    }

}